<% include partials/header %>
<div class="container">
    <h1>Landing page!</h1>
    
    <p>Welcome to YelpCamp</p>
    
    <a href="/campgrounds">View All Campgrounds</a>
</div>

<% include partials/footer %>
